<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }

        .modal-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fefefe;
            padding: 20px;
            border: 1px solid #888;
            width: 300px;
            position: relative;
            max-height: 70vh;
            /* Set a maximum height */
            overflow-y: auto;
        }

        .close {
            position: absolute;
            top: 5px;
            right: 5px;
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
        }

        .event-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            /* Start from the left */
            gap: 20px;
            grid-column: span 2;
        }

        .event-card {
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 15px;
            width: 100%;
            /* Occupy full width */
            box-sizing: border-box;
            margin-bottom: 20px;
        }

        .addEventBtn:hover {
            background-color: #45a049;
            /* Darker green on hover */
        }

        #registrationForm,
        #addEventForm {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        #registrationForm input,
        #addEventForm input,
        #registrationForm button,
        #addEventForm button {
            border: 1px solid #3498db;
            padding: 10px;
            margin: 5px;
            width: 100%;
            border-radius: 4px;
            box-sizing: border-box;
        }

        #registrationForm button,
        #addEventForm button {
            background-color: #3498db;
            color: #fff;
            padding: 10px 15px;
            margin: 5px;
            cursor: pointer;
            border-radius: 4px;
            font-size: 14px;
        }
    </style>
</head>

<body class="font-sans bg-gray-200 grid grid-cols-1 md:grid-cols-3 gap-4 p-8">

    <h2 class="text-center text-blue-500 text-4xl col-span-full mb-8">Event Dashboard</h2>

    <form action="/dashboard" method="post" class="text-center col-span-full mb-8">
        <label for="filterBy" class="mr-2">Filter by:</label>
        <select id="filterBy" name="filterBy" class="border p-2 rounded">
            <option value="organizerEmail">Organizer's Email</option>
            <option value="organizerPhoneNumber">Organizer's Phone Number</option>
            <option value="eventDate">Event Date</option>
            <option value="eventTime">Event Time</option>
            <option value="eventVenue">Event Venue</option>
            <option value="eventOrganizer">Event Organizer</option>
        </select>
        <input type="text" id="filterValue" name="filterValue" placeholder="Enter a value"
            class="border p-2 rounded mx-2">
        <button type="submit"
            class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700 transition duration-300">Filter</button>
        <% if (user && user.role=='admin' ) { %>
            <button type="button"
                class="addEventBtn bg-green-500 px-4 py-2 rounded hover:bg-blue-700 transition duration-300"
                onclick="openAddEventModal()">Add Event</button>
            <% } %>
    </form>

    <div class="event-container col-span-full md:col-span-2">

        <% if (events.length> 0) { %>
            <% events.forEach(event=> { %>
                <div class="event-card bg-white border p-4 rounded">
                    <h3 class="text-blue-500 text-xl font-semibold mb-2">
                        <%= event.eventname %>
                    </h3>
                    <p class="mb-2">Description: <%= event.eventdescription %>
                    </p>
                    <p class="mb-2">Date: <%= event.eventdate.toDateString() %>
                    </p>
                    <p class="mb-2">Time: <%= event.eventtime %>
                    </p>
                    <p class="mb-2">Venue: <%= event.eventvenue %>
                    </p>
                    <p class="mb-2">Organizer: <%= event.eventorganizer %>
                    </p>
                    <p class="mb-2">Organizer's Email: <%= event.eventorganizeremail %>
                    </p>
                    <p class="mb-2">Organizer's Phone Number: <%= event.eventorganizerphonenumber %>
                    </p>

                    <% if (user && user.role=='admin' ) { %>
                        <form action="/delete-event/<%= event._id %>?_method=DELETE" method="post">
                            <button type="submit"
                                class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-700 transition duration-300">Delete</button>
                        </form>
                        <% } %>

                            <button type="button"
                                class="addToCalendarBtn bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700 transition duration-300"
                                data-eventDetails="<%= JSON.stringify(event) %>">Add to Google Calendar</button>

                            <button type="button"
                                class="registerBtn bg-purple-500 text-white px-4 py-2 rounded hover:bg-purple-700 transition duration-300"
                                data-eventname="<%= event.eventname %>" data-eventid="<%= event._id %>"
                                onclick="openModal('registrationModal')">Register</button>
                </div>
                <% }); %>
                    <% } else { %>
                        <p class="text-center text-gray-500">No events available.</p>
                        <% } %>
    </div>

    <p class="mt-4 text-center col-span-full"><a href="/" class="text-blue-500">Go back to Home</a></p>

    <div id="registrationModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>

            <!-- Registration div -->
            <h2 class="text-2xl font-semibold mb-4">Event Registration</h2>
            <form id="registrationForm" method="post" action="/analysis">
                <input type="hidden" id="eventNameInput" name="eventName" required>
                <input type="hidden" id="eventIdInput" name="eventId" required>
                <input type="text" id="participantName" name="participantName" placeholder="Your Name" required>
                <input type="text" id="Organizationname" name="Organizationname" placeholder="Organization" required>
                <button type="submit">Register</button>
            </form>
        </div>
    </div>

    <!-- Create event div -->
    <div id="addEventModal" class="modal">
        <div class="modal-content">

            <form id="addEventForm" method="post" action="/create-event">
                <span class="close" onclick="closeAddEventModal()">&times;</span>

                <h2 class="text-2xl font-semibold mb-4">Add Event</h2>
                <form id="addEventForm" method="post" action="/create-event" class="flex flex-col space-y-4">
                    <label for="eventname" class="block font-bold mb-1">Event Name:</label>
                    <input type="text" id="eventname" name="eventname" required class="border p-2 rounded w-full mb-2">

                    <label for="eventdescription" class="block font-bold mb-1">Event Description:</label>
                    <textarea id="eventdescription" name="eventdescription" required
                        class="border p-2 rounded w-full mb-2"></textarea>

                    <label for="eventdate" class="block font-bold mb-1">Event Date:</label>
                    <input type="date" id="eventdate" name="eventdate" required class="border p-2 rounded w-full mb-2">

                    <label for="eventtime" class="block font-bold mb-1">Event Time:</label>
                    <input type="text" id="eventtime" name="eventtime" required class="border p-2 rounded w-full mb-2">

                    <label for="eventvenue" class="block font-bold mb-1">Event Venue:</label>
                    <input type="text" id="eventvenue" name="eventvenue" required
                        class="border p-2 rounded w-full mb-2">

                    <label for="eventorganizer" class="block font-bold mb-1">Event Organizer:</label>
                    <input type="text" id="eventorganizer" name="eventorganizer" required
                        class="border p-2 rounded w-full mb-2">

                    <label for="eventorganizeremail" class="block font-bold mb-1">Organizer's Email:</label>
                    <input type="email" id="eventorganizeremail" name="eventorganizeremail" required
                        class="border p-2 rounded w-full mb-2">

                    <label for="eventorganizerphonenumber" class="block font-bold mb-1">Organizer's Phone
                        Number:</label>
                    <input type="tel" id="eventorganizerphonenumber" name="eventorganizerphonenumber" required
                        class="border p-2 rounded w-full mb-2">
                    <button type="submit">Create Event</button>
                </form>
        </div>
    </div>
    <script>


        // Function to show the modal
        const openModal = () => {
            document.getElementById('registrationModal').style.display = 'block';
        };

        // Function to hide the modal
        const closeModal = () => {
            document.getElementById('registrationModal').style.display = 'none';
        };

        // Function to display create event modal
        const openAddEventModal = () => {
            document.getElementById('addEventModal').style.display = 'block';
        };

        // Function to close create event modal
        const closeAddEventModal = () => {
            document.getElementById('addEventModal').style.display = 'none';
        };

        // Event map for registration modal
        const registrationModalEvents = {
            '.registerBtn': function (event) {
                const eventId = event.target.getAttribute('data-eventid');
                const eventName = event.target.getAttribute('data-eventname');

                document.getElementById('eventNameInput').value = eventName;
                document.getElementById('eventIdInput').value = eventId;

                // Show the registration modal
                openModal();
            }
        };

        // adding event to Google Calendar
        const addToCalendarEvents = {
            '.addToCalendarBtn': function (event) {
                const eventDetails = JSON.parse(event.target.getAttribute('data-eventDetails'));

                // Create a Google Calendar event link
                const googleCalendarLink = `https://www.google.com/calendar/render?action=TEMPLATE&text=${encodeURIComponent(eventDetails.eventname)}&dates=${encodeURIComponent(eventDetails.eventdate)}T${encodeURIComponent(eventDetails.eventtime)}&details=${encodeURIComponent(eventDetails.eventdescription)}&location=${encodeURIComponent(eventDetails.eventvenue)}`;

                window.open(googleCalendarLink, '_blank');
            }
        };

        // Event map for open add event modal button
        const addEventBtnEvents = {
            '#addEventBtn': openAddEventModal
        };


        // event listeners based on the event maps
        document.addEventListener('click', function (event) {
            Object.entries(registrationModalEvents).forEach(([selector, handler]) => {
                if (event.target.classList.contains(selector.substring(1))) {
                    handler(event);
                }
            });

            Object.entries(addToCalendarEvents).forEach(([selector, handler]) => {
                if (event.target.classList.contains(selector.substring(1))) {
                    handler(event);
                }
            });

            Object.entries(addEventBtnEvents).forEach(([selector, handler]) => {
                if (event.target.matches(selector)) {
                    handler(event);
                }
            });

        });


    </script>

</body>

</html>